# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- List Data Science Tools:

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. Scikit-learn

Data Science Tools:

| No. | Tools|
| -- | -- |
|1 | Jupyter Notebook|
|2 | Rstudio|
|3 | Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

result = 10 + 5 

print(result)

In [15]:
# This a simple arithmetic expression to mutiply then add integers

(3 * 4) + 5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60

min = 200
hr = min/600
print(f"{min} minutes is equal to {hr:.2f} hours")

200 minutes is equal to 3.33 hours

## Author

John